$width: 30px;

.container {
  display: flex;
  align-items: center;
}

.iconBox {
  width: calc($width / 2);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  filter: invert(0);
  transition: all 200ms ease-in-out;
  &.dark {
    transform: translate(50%, -50%);
  }
  &.light {
    transform: translate(-150%, -50%);
  }
}

.handle {
  background-color: black;
  border-radius: 50%;
  width: calc($width - 10px);
  height: calc($width - 10px);
  z-index: 10;
}

.switch {
  display: flex;
  width: calc($width * 2);
  height: $width;
  border-radius: calc($width / 2);
  background-color: white;
  position: relative;
  align-items: center;
  padding: 0 5px;

  &.dark {
    justify-content: flex-start;
  }
  &.light {
    justify-content: flex-end;
  }
}
